.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1050;
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    position: relative;
    z-index: 1060;
    background: white;
    max-width: 500px;
    width: 94%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    animation: fadeIn 0.3s ease;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-header,
.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 1rem .5rem 1rem;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}

.modal-body {
    padding: 0 1rem 0 1rem;
    margin: 2rem 0;
}

.btn {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    margin-left: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}