.spinner {
    display: none;
    width: 30px;
    height: 30px;
    border: 5px solid var(--gray-200);
    border-top-color:  var(--primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button-spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-top: 2px solid #000;
    border-radius: 50%;
    animation: button-spin 0.6s linear infinite;
    vertical-align: middle;
    margin-left: 8px;
  }
  @keyframes button-spin {
    to { transform: rotate(360deg); }
  }