.component-dataselect-container {
    position: relative;
}

.component-dataselect-container div:focus {
    outline: 0;
    border-color: var(--border-color);
    /* border-width: 1px; */
}

.component-dataselect-select-btn {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    font-size: 1rem;
    font-weight: 400;
    padding: .375rem 2rem .375rem .75rem;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-clip: padding-box;
}

.component-dataselect-selected-item {
    display: inline-block;
    /* margin: 0 .25rem .25rem .25rem; */
    /* margin: 0 .25rem 0 0; */
    border: 1px solid #efefef;
    border-radius: var(--border-radius);
    padding: .25rem .75rem;
    background-color: var(--gray-200);
}


.component-dataselect-select-btn.open {
    border-color: var(--border-color);
}

/* .component-dataselect-select-btn:focus-within {

    outline: 8px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
    color: red;


} */

/* outline: var(--focus-ring-width) solid var(--focus-ring-color); */

/* focus-ring-width: var(--focus-ring-width);
    focus-ring-opacity: var(--focus-ring-opacity);
    focus-ring-color: var(--focus-ring-color); */

/* .component-dataselect-select-btn .btn-text {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
} */

/* .component-dataselect-select-btn .arrow-dwn {
    display: flex;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    color: #fff;
    transition: 0.3s;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
} */

/* .component-dataselect-select-btn.open .arrow-dwn {
    transform: rotate(-180deg);
} */

.component-dataselect-list {
    align-items: center;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    display: none;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
    margin-top: .25rem;
    max-height: 20rem;
    padding: .375rem .75rem;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.component-dataselect-data {
    overflow-y: auto;
    align-self: start;
    width: 100%;
}

.component-dataselect-list ul {
    padding-left: 0;
}

.component-dataselect-select-btn.open~.component-dataselect-list {
    display: flex;
}

.component-dataselect-list .component-dataselect-item {
    display: flex;
    align-items: center;
    /* list-style: none; */
    height: 3rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: var(--border-radius);
    margin: 0 .25rem;
}

.component-dataselect-list .component-dataselect-item:hover {
    background-color: var(--gray-200);
}

.component-dataselect-item .component-dataselect-item-text {
    font-size: 1rem;
    font-weight: 400;
}

.component-dataselect-item .checkbox {
    visibility: hidden;
    margin-right: .25rem;
}

.component-dataselect-item.checked .checkbox {
    visibility: visible;
}

.component-dataselect-search {
    position: relative;

}

.component-dataselect-search input {
    padding-left: 2rem;
    padding-right: 2rem;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    margin-bottom: .5rem;
}

.component-dataselect-search-lens {
    top: 50%;
    transform: translateY(calc(-50% - 4px));
    left: .5rem;
    position: absolute;

}

.component-dataselect-search-clear {
    top: 50%;
    right: .5rem;
    transform: translateY(calc(-50% - 4px));
    cursor: pointer;
    position: absolute;

}