/* Breadcrumb container */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    /* margin-bottom: 1rem; */
    list-style: none;
    /* background-color: #e9ecef; */
    border-radius: 0.375rem;
}

/* Breadcrumb items */
.breadcrumb-item {
    display: flex;
    align-items: center;
}

/* Add chevrons as separators */
.breadcrumb-item+.breadcrumb-item::before {
    content: "";
    display: inline-block;
    padding: 0 0.5rem;
    color: #6c757d;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M6.854 4.146a.5.5 0 0 0-.708.708L9.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5z'/%3E%3C/svg%3E");

}

/* Links styling */
.breadcrumb-item a {
    color: var(--gray-800);
    text-decoration: underline;
}

.breadcrumb-item a:hover {
    color: var(--gray-900);
    text-decoration: none;
}

/* Active item styling */
.breadcrumb-item.active {
    color: var(--gray-900);
    font-weight: bold;

}
